<html>
<head>
  <title>Test</title>
  <style>body {
  padding: 0 10px;
}

div.title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

div {
  margin-bottom: 1rem;
}

.barcode {
  font-family: 'Free 3 of 9 Regular';
  font-size: 40px;
}</style>
</head>
<body>
  <div class="title">Welcome Some username here</div>
  <div>Template creation time: 23/06/2022 16:09</div>
  <div>List example:
    <div>
      1
      2
      3
      4
      5
      6
      7
      8
      9
      10
      11
      12
      13
      14
      15
      16
      17
      18
      19
      20
      21
      22
      23
      24
      25
      26
      27
      28
      29
      30
    </div>
  </div>
  <div>Custom font test
    <div class="barcode">5465465</div>
  </div>
</body>
</html>